@import '_variables';

.mobile-menu {
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0px;
  background-color: $mobileMenuBg;
  .close-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    color: $tomato;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .inside-container {
    background: white;
    width: 92.5%;
    height: 92.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: $radiusLarge;
    position: relative;
    padding-top: 3rem;
  }
  .logo {
    margin-bottom: 2rem
  }

  .menu-container {
    @include customFlex(flex-start, center, column, 1);

    a {
      color: $bluishGray;
      padding: 1rem 2rem;
      font-size: 1.15rem;
      @include customFlex(center, flex-start, row, 0.5);
      transition: $transNormal;
      width: 100%;
      &:hover:not(.active) {
        color: $linkTextHover;
      }
      &:hover:not(.active) svg {
        fill: $primary;
      }
    }

    svg {
      fill: $bluishGray;
      transition: $transNormal;
    }
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
