@import '_variables';

.top-navbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 2rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 0px 0px;
  z-index: 2;

  .wrapper {
    @include customFlex(center, space-between, row, 0);
  }

  .menu-icon {
    fill: $primary;
    cursor: pointer;
  }

  button {
    @include customFlex(center, center, row, 1);
  }
}

.logout-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 150px;
  display: none;
}

.logout-container {
  position: relative;
  .logout {
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radiusNormal;
    background-color: $logoutBg;
    color: $textLight;
    cursor: pointer;
  }
}

.full {
  width: 100vw;
}

@media (max-width: 768px) {
  .top-navbar {
    width: 100vw;
    h2 {
      display: none;
    }
  }
  .logo {
    display: block;
    width: 130px;
  }
  .top-navbar .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .logout-container .logout {
    bottom: -45px;
  }
}

@media (max-width: 568px) {
  .top-navbar {
    padding: 2rem 1rem;
  }
  .top-navbar button {
    gap: 0.5rem;
  }
  .logo {
    width: 100px;
  }
  .top-navbar .btn {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
  }
}
