@import '_variables';

.user-info {
  margin: 2rem;
  padding: 1rem 2rem;
  background-color: $primary;
  border-radius: $radiusLarge;
  
  
  .info-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $textLight;
  }

  p {
    padding: 0.5rem;
    background-color: $textLight;
    color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: $radiusNormal;
  }

  p span {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.5rem;
  }

  .email span{
    text-transform: none;
  }
}

@media (max-width: 868px) {
  .user-info .info-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .user-info {
    margin: 1rem;
  }
}

@media (max-width: 568px) {
  .user-info .info-container {
    grid-template-columns: 1fr;
  }
}
